{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <meta name="description"
        content="Latest info about covid19 in Sh.Funadhoo">
    <meta property="og:url" content="https://covid19.funadhoo.gov.mv">
    <meta property="og:type" content="website">
    <meta property="og:description"
        content="Latest info about covid19 in Sh.Funadhoo">
    <meta property="og:title" content="Latest info about covid19 in Sh.Funadhoo">
    <meta property="og:image" content="{%static 'og.jpg' %}">
    <meta property="og:site_name" content="covid19.funadhoo.gov.mv>
</head>

<body>
    <style>
        @font-face {
            font-family: "mv waheed";
            src: url("{% static 'MV_Waheed.otf' %}")format("opentype");
        }

        @font-face {
            font-family: "mv typer";
            src: url("{% static 'mvtyper.ttf' %}")format("truetype");
        }
    </style>

    <div class="relative bg-gray-100 pt-6 pb-16 sm:pb-24">
        <div>
            <div class="max-w-7xl mx-auto px-4 sm:px-6">
                <nav class="relative flex items-center justify-between sm:h-10 md:justify-center" aria-label="Global">
                    <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
                        <div class="flex items-center justify-between w-full md:w-auto">
                            <a href="#">
                                <span></span>

                            </a>
                            <div class="-mr-2 flex items-center md:hidden">
                            </div>
                        </div>
                    </div>


                </nav>
            </div>



        </div>

        <main class="mt-8 mx-auto bg-gray-100 max-w-7xl px-4 sm:mt-24">
            <div class="text-center">
                <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
                    <span class="block xl:inline" style="	font-family: 'mv typer' ;">ފުނަދޫ ކޮވިޑް</span>

                </h1>
                <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl"
                    style="font-family: 'mv waheed';">
                    ށ.ފުނަދޫ ކޮވިޑް ޙާލަތާއި ގުޅޭ އެންމެ ފަހުގެ މަޢުލޫމާތު
                </p>

            </div>


            <div class="mt-16">
                <dl
                    class="mt-5 grid grid-cols-1 rounded-lg bg-white overflow-hidden shadow divide-y divide-gray-200 md:grid-cols-4 md:divide-y-0 md:divide-x">
                    <div class="px-4 py-5 sm:p-6">
                        <dt class="text-xl font-normal text-gray-700 text-right" style="	font-family: 'mv waheed' ;">
                            ފައްސި</dt>
                        <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                            <div
                                class="inline-flex justify-left items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800 md:mt-2 lg:mt-0">
                                <span class="mr-2">{{samples.positive_samples_last_day}}</span>
                                <span class="text-sm text-left text-gray-700" dir="rtl"
                                    style="font-family: 'mv waheed';">ވޭތުވެދިޔަ 24 ގަޑިއިރު</span>
                            </div>
                            <div class="flex items-baseline text-4xl text-right font-semibold text-red-600">
                                {{samples.positive_samples}}</div>
                        </dd>
                    </div>

                    <div class="px-4 py-5 sm:p-6">
                        <dt class="text-xl font-normal text-gray-700 text-right" style="	font-family: 'mv waheed' ;">
                            ނައްސި</dt>
                        <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                            <div
                                class="inline-flex justify-left items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800 md:mt-2 lg:mt-0">
                                <span class="mr-2">{{samples.negative_samples_last_day}}</span>
                                <span class="text-sm text-right text-gray-700" dir="rtl"
                                    style="font-family: 'mv waheed';">ވޭތުވެދިޔަ 24 ގަޑިއިރު</span>
                            </div>
                            <div class="flex items-baseline text-4xl font-semibold text-green-600">
                                {{samples.negative_samples}}</div>

                        </dd>
                    </div>

                    <div class="px-4 py-5 sm:p-6">
                        <dt class="text-xl font-normal text-gray-700 text-right" style="	font-family: 'mv waheed' ;">
                            ނެގުނު ސާމްޕަލްގެ ޢަދަދު</dt>
                        <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">

                            <div
                                class="inline-flex justify-left items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800 md:mt-2 lg:mt-0">
                                <span class="mr-2">{{samples.total_samples_last_day}}</span>
                                <span class="text-sm text-right text-gray-700" dir="rtl"
                                    style="font-family: 'mv waheed';">ވޭތުވެދިޔަ 24 ގަޑިއިރު</span>
                            </div>
                            <div class="flex items-baseline text-4xl font-semibold text-yellow-600">
                                {{samples.total_samples}}</div>
                        </dd>
                    </div>
                    <div class="px-4 py-5 sm:p-6">
                        <dt class="text-xl font-normal text-gray-700 text-right" style="	font-family: 'mv waheed' ;">
                            ނަތީޖާ ނުލިބޭ ސާމްޕަލްގެ ޢަދަދު</dt>
                        <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">

                            <div
                                class="inline-flex justify-left items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800 md:mt-2 lg:mt-0">
                                <span class="mr-2"></span>
                                <span class="text-sm text-right text-gray-700" dir="rtl"
                                    style="font-family: 'mv waheed';">އަދި ނަތީޖާ ނުލިބޭ</span>
                            </div>
                            <div class="flex items-baseline text-4xl font-semibold text-yellow-600">
                                {{samples.waiting_samples}}</div>
                        </dd>
                    </div>
                </dl>
                <p class="mt-3 text-left text-base text-gray-400">- </p>
            </div>





            <div class="mt-5 flex flex-col justify-center">
                <p class="mt-3 text-2xl max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl"
                    style="font-family: 'mv waheed';">
                    ކަރަންޓީނު ކުރެވިފައިވާ ގެތައް
                </p>
                <ul class="grid grid-cols-2 gap-6 sm:grid-cols-2 lg:grid-cols-3 mt-10">
                    {%if q_addresses%}
                    {% for address in q_addresses%}
                    <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
                        <div class="w-full flex text-right justify-between p-6 space-x-6">
                            <div class="flex-1 truncate">
                                <div class="text-center">
                                    <h3 class="text-gray-800 mb-4 text-xl  font-large truncate"
                                        style="font-family: 'mv waheed';">{{address.name}}</h3>

                                    <span
                                        class=" inline-block px-1 py-0.5 text-red-800 text-sm font-medium bg-red-100 rounded-full"
                                        style="font-family: 'mv waheed';">{{address.reason}}</span>
                                </div>
                            </div>
                        </div>

                    </li>
                    {% endfor %}
                    {% endif %}


                </ul>

            </div>

        </main>
    </div>
    </div>

    <footer class="bg-gray-800 pt-10 sm:mt-10 pt-10">
        <div class="max-w-6xl m-auto text-gray-800 flex flex-wrap justify-center">
            <!-- Col-1 -->
            <div class="pt-2">
                <!-- Col Title -->
                <div class="text-xl uppercase text-gray-400 font-medium mb-2 text-center"
                    style="font-family: 'mv waheed';">
                    ތައްޔާރުކުރީ
                </div>


                <!-- Copyright Bar -->
                <div class="pt-2">
                    <div class="flex pb-5 px-3 m-auto pt-5 
                border-t border-gray-500 text-gray-400 text-sm 
                flex-col md:flex-row max-w-6xl">
                        <div class="mt-2 text-xl" style="font-family: 'mv waheed';">
                            ށ.ފުނަދޫ ކައުންސިލް އިދާރާ
                        </div>

                        <!-- Required Unicons (if you want) -->
                    </div>
                </div>
    </footer>
</body>

</html>